/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

::-webkit-scrollbar{
    display: none;
}

.main_section{
    width: 100%;
    min-height: 120vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.65),  rgba(0, 0, 0, 0.55)), url("https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(0.5px);
    background: rgba(102, 51, 153, 0.4);
    padding: 15px 100px;
}
nav.fixed {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(102, 51, 153, 1);
    padding: 10px 100px;
}
nav .logo_section{
    font-size: 2.2rem;
    color: #f1f1f1;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.nav_items{
    display: flex;
    align-items: center;
    gap: 2.2rem;
}
.nav_items ul{
    display: block;
}
.nav_items ul li{
    position: relative;
    display: inline-block;
    margin-left: 1.2rem;
}
.nav_items li a{
    font-size: 1.2rem;
    color: #cecece;
    font-weight: 400;
    letter-spacing: 0.02rem;
    transition: 0.5s ease-out;
}
.nav_items li a:hover{
    color: #f1f1f1;
}
.nav_items li .active{
    font-size: 1.3rem;
    color: #f1f1f1;
    font-weight: 500;
    letter-spacing: 0.02rem;
}

/* Subnav styling */
.sub_nav{
    width: 150px;
    height: auto;
    background: rebeccapurple;
    position: absolute;
    left: 0;
    top: 30px;
    border-radius: 4px;
    display: none;
}
.sub_nav ul{
    display: block;
    margin: 20px 10px;
}
.sub_nav ul li{
    display: block;
    margin-bottom: 1.0rem;
}
.nav_items li:hover .sub_nav{
    display: block;
}

/*  */
.action_button{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.btn_action{
    width: 30px;
    height: 30px;
    background: #cecece;
    border-radius: 50%;
    border: 2px solid #cecece;
    font-size: 1.1rem;
    color: #1d1d1d;
    cursor: pointer;
}
#toggleButton{
    display: none;
}


@media screen and ( max-width: 768px) {
    nav{
        padding: 15px 80px;
    }
    nav.fixed{
        padding: 10px 80px;
    }
}


/* .nav_section ul{
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgba(31, 31, 31, 0.99);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 75px;
    right: -100%;
    text-align: center;
    transition: all 0.68s ease-out;
    z-index: 9999;
}
.nav_section li{
    display: flex;
    align-items: center;
    justify-content: center;
}
#toggleIcon{
    display: block;
}
.nav_section a{
    font-size: 1.5rem;
    font-weight: 600;
}
.nav_section ul.showNavbar{
    right: 0;
} */

/* End of the css */