/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

::-webkit-scrollbar{
    display: none;
}

.main_section{
    width: 100%;
    min-height: 110vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.65),  rgba(0, 0, 0, 0.55)), url("https://cdn.pixabay.com/photo/2023/05/10/18/39/ai-generated-7984708_1280.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(0.5px);
    background: rgba(102, 51, 153, 0.3);
    padding: 20px 100px;
}
nav .logo_section{
    font-size: 2.5rem;
    color: #f1f1f1;
    font-weight: 600;
    letter-spacing: 0.1rem;
}


/* End of the css */