
body{
    width: 100%;
    min-height: 100vh;
    background: #1d1d1d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background: #707070;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav ul li:hover > ul {
    display: block;
    background: rebeccapurple;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
  }
  
  nav ul ul li {
    width: 100%;
  }
  
  nav ul ul li a {
    padding: 10px;
    color: #333;
  }
  
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  